@import "../../assets/styles/mixins";
@import "../../assets/styles/variables";

.to-do-item_container {
  display: flex;
  align-items: baseline;
  margin: 0.3rem 0 0.3rem 0;
  padding-bottom: 6px;
  border-bottom: 1px solid transparent;
  position: relative;

  &:hover {
    border-bottom: 1px solid $semiYellow;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 12px;
    right: 0;

    @include hoverIcon();
  }
}
