// colors
$yellow: #f7e116;
$semiYellow: hsl(54deg, 93%, 75%);
$white: #fff;
$black: #0c0c0c;
$semiBlack: #2d2a32;
$lightRed: #ff4c4c;

//fonts
$Courier: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

// device sizes
$md: 600px;


